apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  labels:
    app: api-gateway
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
      - name: api-gateway
        image: pipatchies/flateurss-api-gateway:latest
        ports:
        - containerPort: 8600
        env:
        - name: PORT
          value: "8600"
        - name: USERS_SERVICE_URL
          value: "http://api-users:3001"
        - name: POSTS_SERVICE_URL
          value: "http://api-posts:3002"
        - name: MATCHMAKER_SERVICE_URL
          value: "http://api-matchmaker:3003"
---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway
spec:
  selector:
    app: api-gateway
  ports:
    - protocol: TCP
      port: 8600
      targetPort: 8600
  type: LoadBalancer # Exposed externally
